body {
    margin: 0;
    padding: 0;
}
section {
    display: flex;
    padding: 30px;
    margin: 3%;
    border: 3px solid red;
}
h1 {
    margin: 10%;
    padding: 10px;
}
.password {
    padding-top: 10px;
}
.enter {
    padding-top: 10px;
    position: absolute;
    left: 48%;
}
article {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}